<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>BMoto Online Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">
</head>

<body>

    <header th:include="fragments/header :: header"/>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a th:href="@{/index}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <form id="checkoutForm" action="#" th:action="@{/payment/checkout}" th:object="${billingAddress}" method="POST" enctype="multipart/form-data">
                    <div class="mb-4">
                        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                        <div class="row">
                                <input type="hidden" class="form-control" id="userId" th:field="*{userID}">
                                <input type="hidden" class="form-control" id="addressId"  th:field="*{addressID}">

                                <div class="col-md-6 form-group">
                                    <div class="col-md-6 form-group" th:if="${#fields.hasErrors('firstName')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Firstname is required!
                                        </div>
                                    </div>
                                    <label>First Name</label>
                                    <input class="form-control" type="text" placeholder="John" th:field="*{firstName}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('lastName')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Lastname is required!
                                        </div>
                                    </div>
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" placeholder="Doe" th:field="*{lastName}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('email')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Email is required!
                                        </div>
                                    </div>
                                    <label>E-mail</label>
                                    <input class="form-control" type="text" placeholder="example@email.com" th:field="*{email}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('phone')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Mobile no is required!
                                        </div>
                                    </div>
                                    <label>Mobile No</label>
                                    <input class="form-control" type="text" placeholder="+123 456 789" th:field="*{phone}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('addressLine1')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Address 1 is required!
                                        </div>
                                    </div>
                                    <label>Address Line 1</label>
                                    <input class="form-control" type="text" placeholder="123 Street" th:field="*{addressLine1}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('addressLine2')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Address 2 is required!
                                        </div>
                                    </div>
                                    <label>Address Line 2</label>
                                    <input class="form-control" type="text" placeholder="123 Street" th:field="*{addressLine2}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select class="custom-select" th:field="*{country}">
                                        <option selected th:value="Romania">Romania</option>
                                        <option th:value="Bulgdaria">Bulgaria</option>
                                        <option th:value="Grecia">Grecia</option>
                                    </select>
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('city')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            City is required!
                                        </div>
                                    </div>
                                    <label>City</label>
                                    <input class="form-control" type="text" placeholder="Cluj-Napoca" th:field="*{city}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('county')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            County is required!
                                        </div>
                                    </div>
                                    <label>County</label>
                                    <input class="form-control" type="text" placeholder="Cluj" th:field="*{county}">
                                </div>

                                <div class="col-md-6 form-group">
                                    <div th:if="${#fields.hasErrors('postalCode')}">
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            Postal code is required!
                                        </div>
                                    </div>
                                    <label>Postal Code</label>
                                    <input class="form-control" type="text" placeholder="123" th:field="*{postalCode}">
                                </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="col-lg-4" th:object="${cart}">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <div th:each="item : *{items}">
                            <div class="d-flex justify-content-between">
                                <div class="col-lg-7">
                                    <p th:text="${item.product.name}">Colorful Stylish Shirt 1</p>
                                </div>
                                <div class="col-lg-2">
                                    <p th:text="'x' + ${item.qty}">6</p>
                                </div>
                                <div class="col-lg-3">
                                    <p th:text="${item.subTotal}">$150</p>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium" th:text="*{subtotal} + ' RON'">$150</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium" th:text="*{shipping} + ' RON'">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" th:text="*{total} + ' RON'">$160</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-footer border-secondary bg-transparent">
                        <button th:onclick="processCheckout()" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout End -->

    <footer th:include="fragments/footer :: footer"/>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <script>

      function processCheckout() {
        $.ajax({
            type: 'POST',
            url: '/payment/checkout',
            data: $('#checkoutForm').serialize(),
            success: function(response) {
                alert('Order placed successfully.');
            },
            error: function(error) {
                alert(error.responseJSON.message);
                console.error(error.responseJSON);
            }
        });
      }

    </script>
</body>

</html>